.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  z-index: 100;
}
.modal-bg.open {
  visibility: visible;
}
.modal-bg.closed {
  animation: fadeOut 0.3s;
}
#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 200;
}
#modal.open {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}
#modal.closed {
  animation: fadeOut 0.3s;
  animation: scaleDown 0.5s;
}
#modal .content-space {
  visibility: hidden;
  display: inline-block;
  background-color: rgba(40, 40, 40, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#modal.open .content-space {
  visibility: visible;
}
.modal-scale {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(0.5);
}
#modal.open .modal-scale {
  transform: scale(1);
}
.content-cell {
  cursor: pointer;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@keyframes scaleDown {
  100% {
    transform: scale(0.8);
  }
}
/* ********** close btn ********** */
#closeBtn {
  position: fixed;
  top: 3px;
  right: 3px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  z-index: 400;
}
span.close-btn {
  display: block;
  margin: 0 auto;
  width: 18px;
  height: 3px;
  background-color: #fff;
  z-index: 300;
}
span.close-btn:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
span.close-btn:nth-child(2) {
  transform: translateY(12px) rotate(-45deg);
}
